{%load static%}
<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/static/assets/admin/css/first_styles.css' />
</head>

<body>
    <div class="topnav">
        <a class="Main" href="{% url 'first:index'%}">Home </a>
        <a href="{% url 'reg:index' %}">Course List</a>
        <a href="{% url 'users:index'%}">Website Profile</a>
        <a href="{% url 'first:index'%}">Contact</a>

        <a class="login" href="{% url 'users:index'%}">
            <div class="user_status">
                {%if request.user.is_authenticated %}
                <div class="user_status_on">
                    Username: {{request.user}}
                </div>
                {% else %}
                <div class="user_status_off">
                    Please Login!
                </div>
                {%endif%}

            </div>
        </a>
    </div>
    change Proflie
</body>