{% extends "users/layout.html" %}

{% block body %}

<h5>{{ massage }}</h5>

<a>Your credit:{{ studentUser.credit }}</a>
<h1>Your Course</h1>
<h1></h1>

{%for enableCourse in stu %}
<li>
    {{enableCourse}}
</li>
{% endfor%}

<h1>Course that you might interest</h1>

{%for j in notCourse %}
<li>
    {{j}}
</li>
{% endfor%}

<h2>edit course</h2>
<form action="{% url 'users:addCourse'%}" method="POST">
    {% csrf_token%}
    <select name="course">
        {% for course in notCourse %}
        <option value="{{ course.id }}">{{course}}</option>
        {% endfor%}
    </select>
    <input type="submit" value="Add Course">
</form>

<form action="{% url 'users:rmCourse'%}" method="POST">
    {% csrf_token%}
    <select name="course">
        {% for course in stu %}
        <option value="{{ course.id }}">{{course}}</option>
        {% endfor%}
    </select>
    <input type="submit" value="remove Course">
</form>

<p><a href="{% url 'reg:index'%}">Course List</a></p>
{% endblock %}