{% extends "reg/layout.html" %}

{% block body %}

<h1>Student in this {{ course.course_name }} class</h1>

{% for i in student %}
<li>{{ i }}</li>
{% empty %}
<li> this class don't have student</li>
{% endfor %}
<space>

</space>
<h1>NOT in</h1>
{% for i in student_not %}
<li>{{ i }}</li>
{% empty %}
<li> all student have seat in this class</li>
{% endfor %}


<h2>add student</h2>
<form action="{% url 'reg:addStudent' course.id %}" method="POST">
    {% csrf_token%}
    <select name="course">
        {% for student in student_not %}
        <option value="{{ student.id }}">{{student}}</option>
        {% endfor%}
    </select>
    <input type="submit" value="Add Student">
</form>


<h1>{{ testvar }}</h1>

<p><a href="{% url 'reg:index'%}">Course List</a></p>

{% endblock %}